{% extends 'base.html' %}

{% block content %}
 <!-- Контент страницы -->
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header text-center">
                        <h3>Свяжитесь с нами</h3>
                    </div>
                    <div class="card-body">
                        <p><strong>Имя:</strong> Your Name</p>
                        <p><strong>Email:</strong> example@example.com</p>
                        <p><strong>Телефон:</strong> +123 456 7890</p>
                        <p><strong>Адрес:</strong> 123 Street Name, City, Country</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}